// 自定义全局
// 字体大小
.font36{
font-size: 36rpx;	
}
.font30{
font-size: 30rpx;	
}
.font24{
font-size: 24rpx;	
}
.font20{
font-size: 20rpx;	
}
.font16{
font-size: 16rpx;	
}

//外边距
.margin_top30{
	margin-top: 30rpx;
}